.MyProjectsBlock{
    display: flex;
    min-height: 100vh;
    background-color: #F1E2FF;
    flex-direction: column;
    align-items: center;
}

.MyProjectsContainer{
    justify-content: space-around;

}

.title{
    background-color: grey;

}

.projects{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}