.contactsBlock {
    height: 100vh;
    background-color: #F1E2FF;

}

.contactsContainer{
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}

.title {
    background-color: grey;

}

.form {
    min-width: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}

.input{
    height:25px;
    margin-bottom: 15px;
    width: 100%;
}

.textarea{
    height: 120px;
    width:100%;
    max-width:492px;
    margin-bottom: 5px;
    resize:none;
}

.btn {
    width: 150px;
    height: 30px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {

    background-color: black;
}